/* GENERAL LAYOUT */
.glass{
	background: rgba(255, 255, 255, 0.18);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(2.5px);
	border: 1px solid rgba(0, 0, 0, 0.14);	
}
.align-v-h-centre{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* NAV */
#intro .container-fluid{
	
	padding: 0;
}
#nav .container-fluid{
	padding: 0;
}
nav{
	
	z-index: 3;
	margin: 0;
	width: 100%;
}

/* INTRO BACKGROUND*/
#intro{
	position: relative;
}
#intro .container-fluid{
	padding: 0;
}

#intro .container-bg{
    background-color: #111;
    height: 100vh;
    overflow: hidden;
    position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
    
}
.icon-container{
	display: flex;
	user-select: none;
    font-size: 64px;
    /* overflow: hidden; */
    white-space: nowrap;
    /* display: flex; */
    padding: 10px 0;
	rotate: -30deg;
	position: relative;
	top: -50%;
    
    /* top: -50%; */
    /* animation: iconAnim 20s linear infinite; */
	z-index: 0;
}
/* .icon-row{
    user-select: none;
    font-size: 64px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    padding: 10px 0;
	rotate: -30deg;
    z-index: 0;
    top: -50%;
    animation: iconAnim 20s linear infinite; 
} */

#intro i{
	color: rgba(241, 235, 235, 0.5);
	padding: 0 5px;
	user-select: none;
	cursor: default;
    border-radius: 50%;
    transition: 1s; 
	z-index: 0;
	
	
}




#intro i:hover{
	transition: 0s; 
	color: #0f0;
	text-shadow: 0 0 120px #0f0;
}
#intro i:nth-child(2n):hover
{
	
	transition: 0s; 
	color: #00f;
	text-shadow: 0 0 120px #00f;
}
#intro i:nth-child(3n):hover
{
	
	transition: 0s; 
	color: #0ff;
	text-shadow: 0 0 120px #0ff;
}
#intro i:nth-child(4n):hover
{
	
	transition: 0s; 
	color: #f0f;
	text-shadow: 0 0 120px #f0f;
}
#intro i:nth-child(5n):hover
{
	
	transition: 0s; 
	color: #FF5470;
	text-shadow: 0 0 120px #FF5470;
}

.icon-container .icon-row{
	animation: iconAnimRightLeft 60s linear infinite;
	animation-delay: -60s; 
}

.icon-container .icon-row:nth-child(2)
{
	animation: iconAnimRightLeft2 60s linear infinite;
	animation-delay: -30s; 
}

.icon-container:nth-child(even) .icon-row{
	animation: iconAnimLeftRight 60s linear infinite;
	animation-delay: -60s;
}

.icon-container:nth-child(even) .icon-row:nth-child(2)
{
	animation: iconAnimLeftRight2 60s linear infinite;
	animation-delay: -30s;
}
@keyframes iconAnimRightLeft{
	
	0% { transform: translateX(100%);}
	100% {transform: translateX(-100%);}
	
}

@keyframes iconAnimRightLeft2{
	
	0% { transform: translateX(0%);}
	100% {transform: translateX(-200%);}
	
}

@keyframes iconAnimLeftRight{
	
	0% { transform: translateX(-100%);}
	100% {transform: translateX(100%);}
	
}
@keyframes iconAnimLeftRight2{
	
	0% { transform: translateX(-200%);}
	100% {transform: translateX(0%);}
	
}
/* @keyframes iconAnimRightLeft{
	
	0% { transform: translateX(110%);}
	100% {transform: translateX(-110%);}
	
}

@keyframes iconAnimRightLeft2{
	
	0% { transform: translateX(0%);}
	100% {transform: translateX(-200%);}
	
}

@keyframes iconAnimLeftRight{
	
	0% { transform: translateX(-110%);}
	100% {transform: translateX(110%);}
	
}
@keyframes iconAnimLeftRight2{
	
	0% { transform: translateX(-200%);}
	100% {transform: translateX(0%);}
	
} */


/* INTRO FOREGROUND */

.container-fg{
	
	
	position: absolute;
  	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%) skew(-20deg);
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
	text-align: center;
  	width: 60%;
	min-width: 600px;
	height: 300px;
	
	border-radius: 16px;
	
	
	color: black;
	
	pointer-events: none;
	
	z-index: 2;
}
.container-fg h1{
	font-size: 100px;
	white-space: nowrap;
	width: 100%;
	
}

.container-fg h2{
	white-space: nowrap;
	width: 100%;
}

/* WELCOME */
#welcome{
	background-color: #A9A9A9;
	padding-bottom: 100px;
}

#welcome .container{
	position: relative;
	/* padding: 0 7%; */
	
}

#welcome img{
	width: 100%;
}
.img-overlay-container{
	width: 100%;
	position: relative;
}




.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
  }

.img-overlay-container:hover .overlay {
	height: 100%;
	
}

#welcome img:hover .overlay {
	height: 100%;
	
}

.height-third{
	height: 33.333333%;
	height: calc(100%/3);
}

.social{
	position: relative;
  	text-align: center;
}



.overlay i{
	font-size: 0px;
	color: #111;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	transition: 0.5s ease;
}
.img-overlay-container:hover .overlay i{
	font-size: 100px;
	transition: 1s ease;
	
	 
}

.img-overlay-container {
	margin-top: 70px;
	
}

#welcome a:hover  i{
	color: #0f0;
	text-shadow: 0 0 120px #0f0;
}


#welcome a:nth-child(2):hover i{
	color: red;
	text-shadow: 0 0 120px red;
}
#welcome a:nth-child(3):hover i{
	color: rgb(0, 38, 255);
	text-shadow: 0 0 120px rgb(55, 0, 255);
}

.bubble-container{
	position: relative;
	width: 80%;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
	/* padding: 24px; */
}

.bubble {
	position: relative;
	/* font-family: sans-serif; */
	font-size: 18px;
	line-height: 24px;
	width: 100%;
	/* background-color: white; */
	border-radius: 40px;
	/* margin-top: 70px; */
	padding: 24px;
	text-align: left;
	color: #000;
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
	z-index: 1;
  }

  .bubble-blur {
	position: absolute;
	/* font-family: sans-serif; */
	top: -5%;
	left: -5%;
	width:110% ;
	height: 110%;
	background: linear-gradient(45deg, #03a9f4, #ff0058);
	border-radius: 40px;
	z-index: -0;
	filter: blur(5px);
	/* margin-top: 70px;
	padding: 24px; */
	
	/* margin-left: auto;
	margin-right: auto;
	 */
  }
.bubble h3{
	text-align: center;
}



 @media(min-width: 992px){
	/* .bubble:before {
		content: "";
		width: 0px;
		height: 0px;
		
		background: rgba(255, 255, 255, 0.18); 
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(2.5px);
		border: 1px solid rgba(0, 0, 0, 0.14);	
		
	
		position: absolute;
		border-left: 24px solid  rgba(255, 255, 255, 0.18);
		border-right: 12px solid transparent;
		border-top: 12px solid  rgba(255, 255, 255, 0.18) ;
		border-bottom: 20px solid transparent;
		z-index: 0 ;
		left: 32px;
		bottom: -24px;
	  } */
	  .bubble-blur:before {
		content: "";
		width: 0px;
		height: 0px;
		
		
	
	
		position: absolute;
		border-left: 50px solid  #03a9f4;
		border-right: 30px solid transparent;
		border-top: 30px solid  #03a9f4;
		border-bottom: 40px solid transparent;
		left: 40px;
		bottom: -60px;
	  }
 }
/* SKILLS */

#skills{
	
	/* display: flex; */
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/* background: #1d061a; */
	background: #111;
}

#skills .container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 40px 0;
}

#skills h2{
	text-align: center;
	font-size: 3em;
	color: white;
}

#skills .col{
	margin: 50px auto;
}
.box{
	height: 400px;
	width: 320px;
	position: relative;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 70px 30px;
	
}
.box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background-color: white;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
  background-color: white;
}

.box:hover:before,
.box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.box-content{
	position: relative;
	left: 0;
	padding: 20px 40px;
	border-radius: 8px;
	z-index: 1;
	transform: 0.5s;
	color: black;
	text-align: center;
}
.box:hover .box-content
{
  left: -25px;
  padding: 60px 40px;
  transition: 0.5s;
}

@media(max-width: 992px){
	.box{
		margin: auto ;
		
	}
}


.box-col .box::before,
.box-col .box::after
{
	background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.box-col:nth-child(3) .box::before,
.box-col:nth-child(3) .box::after
{
	background: linear-gradient(315deg, #4dff03, #00d0ff);
}

.box-col:nth-child(4) .box::before,
.box-col:nth-child(4) .box::after
{
	background: linear-gradient(315deg, #7b4397, #ff2430);
}

/* FOOTER */

#footer{
	height: 200px;
	background-color: #A9A9A9;
	
}

#footer .container{
	/* display: flex; */
	text-align: center;
	background-color: #A9A9A9;
	width: 100%;
	
}

#footer i{
	font-size: 40px;
	margin: 30px 10px;
}

#footer button{
	margin: 10px 0;
}



/*EDUCATION*/


.ed-cont-table{
	
	/* margin-left: auto;
	margin-right: auto; */
	margin: 0 auto;
	width: 100%;
	
}

#ed-content h1{
	text-align: center;
	margin-bottom: 30px;

}
#ed-content h2{
	text-align: center;
	margin: 30px auto;
	text-decoration: underline;
}
#ed-content .container-fluid{
	padding: 0 10%;
}
.fa-check{
	color: green;
}
.fa-xmark{
	color: red;
}

.double li{
	width: 50%;
}
.single li{
	width: 100%;
}
/* #ed-content li{
	width: 50%;
} */


@media (max-width: 992px) {
	.grades th {
		display: none;
	}
}

/* #ed-content td{
	text-align: right;
} */

#ed-content td:nth-child(even){
	width: 2%;
	text-align: right;
}

#ed-content table{
	padding-bottom: 0;
	
}

#ed-content .row{
	margin-bottom: 30px ;
}

/* work history */

#work-body {
	
}
#work-history h1{
	text-align: center;
	margin: 30px 0;
}
#work-history .ul{
	text-align: center;
	list-style-position: inside;
}

.job{
	/* background: rgba(255, 255, 255, 0.18); */
	border-radius: 100px;
	
	border: 1px solid rgba(0, 0, 0, 0.14);	
	padding: 5% 10%;

	margin-bottom: 50px;
}



